@model InmobiliariaCA.Models.Contrato

@{
    ViewData["Title"] = "Terminar Contrato";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <form asp-action="FinalizarContrato">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Fecha_Desde" class="form-label">Fecha Desde</label>
                        <input asp-for="Fecha_Desde" type="date" class="form-control" readonly/>
                        <span asp-validation-for="Fecha_Desde" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Fecha_Hasta" class="form-label">Fecha Hasta</label>
                        <input asp-for="Fecha_Hasta" type="date" class="form-control" readonly/>
                        <span asp-validation-for="Fecha_Hasta" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Monto_Alquiler" class="form-label">Monto del Alquiler</label>
                        <input asp-for="Monto_Alquiler" class="form-control" placeholder="Ingrese el monto del alquiler" type="number" readonly/>
                        <span asp-validation-for="Monto_Alquiler" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Fecha_Finalizacion_Anticipada" class="form-label">Fecha Finalización Anticipada </label>
                        <input asp-for="Fecha_Finalizacion_Anticipada" type="date" class="form-control" required/>
                        <span asp-validation-for="Fecha_Finalizacion_Anticipada" class="text-danger"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="Id" />

                <div class="card-footer d-flex justify-content-end">
                    <div>
                        <button type="submit" class="btn btn-success"> Terminar </button>
                    </div>
                    <div>
                        <button onclick="window.location.href='@Url.Action("AltaEditar", "Contrato",new { id = Model.Id })'" class="btn btn-secondary"> Volver al Contrato </button>
                    </div>                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {            
            $('#id_inmueble').change(function () {
                var precio = $(this).find('option:selected').attr('data-precio');
                precio = precio.replace(',', '.');
                $('#Monto_Alquiler').val(precio);
            });            
        });
    </script>
}