@model InmobiliariaCA.Models.UsuarioLoginViewModel

@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Formulario de Registro";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm" style="width: 22rem;">
        <h3 class="text-center mb-4">Login</h3>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">
                    <i class="fas fa-envelope"></i> Email
                </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">
                    <i class="fas fa-lock"></i> Password
                </label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-sign-in-alt"></i> Iniciar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}
